@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #000;
$secondary_color: #feab1a;
$background: #000;
$border: #000;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {}
	.moduletable_to2 {
		padding: 25px 0 15px 0;
		.mega-menu-wrap {
			ul.mega-menu {
				padding: 6px 0 !important;
				border: {
					top: 1px solid #000 !important;
					bottom: 1px solid #000 !important;
				}
				li {
					&.mega-menu-item-25 {
						width: 164px !important;
						a {
							width: 164px !important;
							height: 117px !important;
							margin-top: -35px !important;
							background: {
								image: url(logo.svg) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							color: transparent !important;
							position: absolute !important;
							z-index: 3;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 60px 0;
	h1 {
		margin: 0;
		font-size: 18px;
	}
	h3 {
		margin: 0;
		background: {
			image: url(h3_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font-size: 18px;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.moduletable_le1 {
		.bellows {
			margin: 0;
			background-color: transparent !important;
			box-shadow: none;
			ul {
				li {
					&.bellows-current-menu-item {
						a {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
					}
					&.bellows-menu-item-has-children.bellows-active {
						a {
							&.bellows-target {
								background-color: transparent !important;
								color: $secondary_color !important;
							}
						}
					}
					a {
						margin: 0;
						padding: 10px;
						border: 0 !important;
						font-size: 14px;
						color: $primary_color !important;
						&:hover {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
						span.bellows-subtoggle {
							width: 50px;
							background: transparent !important;
						}
					}
					ul {
						border: 0;
						li {
							a {
								font-size: 14px;
								text-transform: initial;
							}
						}
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				a {
					color: #fff;
					&:hover {
						color: #fff;
					}
					img {
						margin: 0;
						margin-bottom: 10px;
						padding: 10px;
						border: 1px solid $border;
					}
					h2 {
						padding: 10px 0 !important;
						/*background-color: $secondary_color;*/
						font-size: 12px !important;
						color: $secondary_color;
						text: {
							align: center;
							transform: uppercase;
						}
						.count {
							display: none;
						}
					}
				}
			}
		}
		.product {
			h1 {
				&.product_title {
					font-size: 20px;
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 60px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 40px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		a.button {
			margin: 0;
			padding: 5px 10px;
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			background: {
				image: url(h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 18px;
		}
		.owl-item {
			padding: 10px;
			border: 1px solid $border;
			figure {
				figcaption {
					background-color: transparent;
					a {
						h3 {
							background: none;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding-bottom: 30px;
	.moduletable_b31 {
		h3 {
			margin: 0;
			background: {
				image: url(h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 18px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $background;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $background;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}